.landing-page {
  max-width: 720px;
  margin: auto;
  margin-top: 100px;
}

.additional-options {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
}

/*.btn:active, .btn.active {
  background-color: #db706d;
  color: white;
}

.btn:focus .btn.focus {
  background-color: #db706d;
  color: white;
}*/

.option {
  margin: 1rem;
}

.example-searches {
  margin-top: 2rem;
}

.example-list {
  list-style: none;
  padding: 0;
}

.example-list li {
  display: inline-block;
  margin: 0 1rem;
}

.example-list li a {
  text-decoration: none;
}

/*------------------------- Search Bar --------------------------*/
#custom-search-input {
  margin:0;
  margin-top: 10px;
  padding: 0;
}

#custom-search-input .search-query {
  padding-right: 3px;
  padding-right: 4px \9;
  padding-left: 10px;
  padding-left: 4px \9;
  /* IE7-8 doesn't have border-radius, so don't indent the padding */

  margin-bottom: 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

#custom-search-input button {
  border: 0;
  background: none;
  /** belows styles are working good */
  padding: 2px 5px;
  margin-top: 2px;
  position: relative;
  left: -28px;
  /* IE7-8 doesn't have border-radius, so don't indent the padding */
  margin-bottom: 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  color:#D9230F;
}

.input-group-btn {
  z-index: 10000;
}

.search-query:focus + button {
  z-index: 3;
}

/*------------------------- End Search Bar --------------------------*/
