.dn {
  display: none;
}

.symbol-title {
  font-size: 2rem;
}

.tab-pane {
  padding: 2rem 0;
}

.p-val-dot {
  margin-left: 1rem;
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background-color: red;
  margin: auto;
  display: inline-block;
}
