.r1 {background-color:rgba(182, 12, 12, 0.05);}
.r2 {background-color:rgba(182, 12, 12, 0.15);}
.r3 {background-color:rgba(182, 12, 12, 0.25);}
.r4 {background-color:rgba(182, 12, 12, 0.35);}
.r5 {background-color:rgba(182, 12, 12, 0.45);}
.r6 {background-color:rgba(182, 12, 12, 0.55);}
.r7 {background-color:rgba(182, 12, 12, 0.65);}
.r8 {background-color:rgba(182, 12, 12, 0.75);}
.r9 {background-color:rgba(182, 12, 12, 0.85);}
.r10 {background-color:rgba(182, 12, 12, 0.95);}
.g1 {background-color:rgba(49, 134, 29, 0.05);}
.g2 {background-color:rgba(49, 134, 29, 0.15);}
.g3 {background-color:rgba(49, 134, 29, 0.25);}
.g4 {background-color:rgba(49, 134, 29, 0.35);}
.g5 {background-color:rgba(49, 134, 29, 0.45);}
.g6 {background-color:rgba(49, 134, 29, 0.55);}
.g7 {background-color:rgba(49, 134, 29, 0.65);}
.g8 {background-color:rgba(49, 134, 29, 0.75);}
.g9 {background-color:rgba(49, 134, 29, 0.85);}
.g10 {background-color:rgba(49, 134, 29, 0.95);}
