{% extends "layout.html" %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="landing-page">
      <div class="col-md-12 text-center">
  			<img src="image/logo_100x87.png">
  			<h1 class="project-title">Dr. Gene Budger</h1>
  			<p class="instruction">Identify drugs to regulate expression of target genes.</p>
  		</div>

      <div class="col-md-12">
        <form action="/DGB/" method="post">
          <fieldset>
            {{ form.hidden_tag() }}
            <div id="custom-search-input">
              <div class="input-group col-md-12">
               {{ form.symbol(id="search", class="search-query form-control typeahead", placeholder="Enter a gene symbol you are interested in regulating") }}
               <span class="input-group-btn">
                 <button type="submit" class="btn btn-danger" type="button">
                   <span class=" glyphicon glyphicon-search"></span>
                 </button>
               </span>
              </div>
            </div>

            <div class="select">
              {{ form.expression.label }} {{ form.expression }}<br>
            </div>

            <div class="select">
              {{ form.dataset.label }} {{ form.dataset }}<br>
            </div>

          </fieldset>
        </form>
      </div>
    </div>
  </div>
</div>

<script>
  $.getJSON('/DGB/static/js/array.json', function(arr){
      var substringMatcher = function(strs) {
        return function findMatches(q, cb) {
          var matches, substringRegex;

          // an array that will be populated with substring matches
          matches = [];

          // regex used to determine if a string contains the substring `q`
          substrRegex = new RegExp(q, 'i');

          // iterate through the pool of strings and for any string that
          // contains the substring `q`, add it to the `matches` array
          $.each(strs, function(i, str) {
            if (substrRegex.test(str)) {
              matches.push(str);
            }
          });

          cb(matches);
        };
      };

      $('#search').typeahead({
        hint: true,
        highlight: true,
        minLength: 1,
      },
      {
        name: 'arr',
        source: substringMatcher(arr),
        limit: 8
      });
  });
  $('select').togglebutton();
</script>

{% endblock %}
