{% extends "layout.html" %}

{% block content %}

<div class="container">
    <h1>
      <strong>
        Results
      </strong>
    </h1>
    <h1 class="symbol-title"><a href="{{ gene_url }}">{{ symbol }}</a>: {{ pattern }}</h1>
    <ul class="nav nav-tabs">
      <li class="nav active" role="presentation">
        <a href="#L1000" aria-controls="l1000" role="tab" data-toggle="tab">L1000</a>
      </li>
      <li class="nav" role="presentation">
        <a href="#CREEDS" aria-controls="creeds" role="tab" data-toggle="tab">CREEDS</a>
      </li>
    </ul>

    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="L1000">
        <table id="L1000-table" class="table datatable dn">
          <thead>
            <tr>
              <th>Drug Name</th>
              <th>LINCS sig_id</th>
              <th>LINCS pert_id</th>
              <th>Time</th>
              <th>Dose</th>
              <th>p-value</th>
              <th>Fold Change</th>
            </tr>
          </thead>

          <tbody>
          {% for row in rows %}
              {% set ldecile = ldeciles[loop.index - 1] %}
                  <td>
                    <a href="http://amp.pharm.mssm.edu/dmoa/report/{{ row[2] }}" target="_blank">
                      {{ row[0] }}
                    </a>
                  </td>
                  <td>{{ row[1] }}</td>
                  <td>
                    <a href="http://amp.pharm.mssm.edu/dmoa/report/{{ row[2] }}" target="_blank">
                      {{ row[2] }}
                    </a>
                  </td>
                  <td>{{ row[3] }} {{ row[4] }}</td>
                  <td>{{ row[5] }} µM</td>
                  <td>{{ row[6] }}</td>
                  <td>
                    {% if pattern is equalto 'Up-Regulated' %}
                        <span class="dot g{{ ldecile }}"></span>
                    {% else %}
                        <span class="dot r{{ ldecile }}"></span>
                    {% endif %}
                    {{ row[7] }}
                  </td>
              </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>

      <div role="tabpanel" class="tab-pane" id="CREEDS">
        <table id="CREEDS-table" class="table datatable dn">
          <thead>
            <tr>
              <th>Drug Name</th>
              <th>GEO ID</th>
              <th>Drugbank ID</th>
              <th>PubChem ID</th>
              <th>p-value</th>
              <th>Fold Change</th>
            </tr>
          </thead>

          <tbody>
          {% for row in creedsrows %}
              {% set cdecile = cdeciles[loop.index - 1] %}

              {% if pattern is equalto 'Up-Regulated' %}
                  <tr class="g{{ cdecile }}">
              {% else %}
                  <tr class="r{{ cdecile }}">
              {% endif %}

                <td>{{ row[0] }}</td>

                {% if row[6] != None %}
                    <td><a href="{{ row[6] }}">{{ row[1] }}</a></td>
                {% else %}
                    <td>N/A</td>
                {% endif %}

                {% if row[7] != None %}
                    <td><a href="{{ row[7] }}">{{ row[2] }}</a></td>
                {% else %}
                    <td>N/A</td>
                {% endif %}

                {% if row[8] != None %}
                    <td><a href="{{ row[8] }}">{{ row[3] }}</a></td>
                {% else %}
                    <td>N/A</td>
                {% endif %}

                <td>{{ row[4] }}</td>
                <td>{{ row[5] }}</td>
              </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
    <br>
</div>

<script>
  $(document).ready(function() {
    setTimeout(function() {
      $("#L1000-table").dataTable({
        "order": [[5, "asc"]],
        "fnInitComplete": function() {
          $("#L1000-table").removeClass('dn');
        }
      });

      $("#CREEDS-table").dataTable({
        "order": [[4, "asc"]],
        "fnInitComplete": function() {
          $("#CREEDS-table").removeClass('dn');
        }
      });
    }, 0);
  });
</script>
{% endblock %}
