{% extends "layout.html" %}

{% block content %}

<div class="container">
    <h1>
        <strong>
            Results
        </strong>
    </h1>
    <h1><a href="{{ gene_url }}">{{ symbol }}</a> : {{ pattern }}</h1>
    <style>
        #r1 {background-color:rgba(182, 12, 12, 0.05);}
        #r2 {background-color:rgba(182, 12, 12, 0.15);}
        #r3 {background-color:rgba(182, 12, 12, 0.25);}
        #r4 {background-color:rgba(182, 12, 12, 0.35);}
        #r5 {background-color:rgba(182, 12, 12, 0.45);}
        #r6 {background-color:rgba(182, 12, 12, 0.55);}
        #r7 {background-color:rgba(182, 12, 12, 0.65);}
        #r8 {background-color:rgba(182, 12, 12, 0.75);}
        #r9 {background-color:rgba(182, 12, 12, 0.85);}
        #r10 {background-color:rgba(182, 12, 12, 0.95);}
        #g1 {background-color:rgba(49, 134, 29, 0.05);}
        #g2 {background-color:rgba(49, 134, 29, 0.15);}
        #g3 {background-color:rgba(49, 134, 29, 0.25);}
        #g4 {background-color:rgba(49, 134, 29, 0.35);}
        #g5 {background-color:rgba(49, 134, 29, 0.45);}
        #g6 {background-color:rgba(49, 134, 29, 0.55);}
        #g7 {background-color:rgba(49, 134, 29, 0.65);}
        #g8 {background-color:rgba(49, 134, 29, 0.75);}
        #g9 {background-color:rgba(49, 134, 29, 0.85);}
        #g10 {background-color:rgba(49, 134, 29, 0.95);}
    </style>

    {% if L1000 %}
        <br>
        <font size="3">L1000</font>
        <table id="L1000" class="table table-hover datatable dn">
            <thead>
                <tr>
                    <th>Drug Name</th>
                    <th>LINCS sig_id</th>
                    <th>LINCS pert_id</th>
                    <th>Time</th>
                    <th>Time Unit</th>
                    <th>Dose</th>
                    <th>Dose Unit</th>
                    <th>p-value</th>
                    <th>Fold Change</th>
                </tr>
            </thead>

            <tbody>
            {% set count = 0 %}

            {% for row in rows %}

                {% set ldecile = ldeciles[count] %}
                {% set count = count + 1 %}

                {% if pattern is equalto 'Up-Regulated' %}
                    <tr id = "g{{ ldecile }}">
                {% else %}
                    <tr id = "r{{ ldecile }}">
                {% endif %}

                    <td>{{ row[0] }}</td>
                    <td>{{ row[1] }}</td>
                    <td>{{ row[2] }}</td>
                    <td>{{ row[3] }}</td>
                    <td>{{ row[4] }}</td>
                    <td>{{ row[5] }}</td>
                    <td>µM</td>
                    <td>{{ row[6] }}</td>
                    <td>{{ row[7] }}</td>
                </tr>
            {% endfor %}
            </tbody>

        </table>


    {% endif %}


    {% if CREEDS %}
        <br>
        <font size="3">CREEDS</font>
        <table id="CREEDS" class="table table-hover datatable dn">
            <thead>
                <tr>
                    <th>Drug Name</th>
                    <th>GEO ID</th>
                    <th>Drugbank ID</th>
                    <th>PubChem ID</th>
                    <th>p-value</th>
                    <th>Fold Change</th>
                </tr>
            </thead>

            <tbody>
            {% set count = 0 %}

            {% for row in creedsrows %}

                {% set cdecile = cdeciles[count] %}
                {% set count = count + 1 %}

                {% if pattern is equalto 'Up-Regulated' %}
                    <tr id = "g{{ cdecile }}">
                {% else %}
                    <tr id = "r{{ cdecile }}">
                {% endif %}

                    <td>{{ row[0] }}</td>

                    {% if row[6] != None %}
                        <td><a href="{{ row[6] }}">{{ row[1] }}</a></td>
                    {% else %}
                        <td>N/A</td>
                    {% endif %}

                    {% if row[7] != None %}
                        <td><a href="{{ row[7] }}">{{ row[2] }}</a></td>
                    {% else %}
                        <td>N/A</td>
                    {% endif %}

                    {% if row[8] != None %}
                        <td><a href="{{ row[8] }}">{{ row[3] }}</a></td>
                    {% else %}
                        <td>N/A</td>
                    {% endif %}

                    <td>{{ row[4] }}</td>
                    <td>{{ row[5] }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>


    {% endif %}
    <br>
</div>

<script>
  $(document).ready(function() {
    $(".datatable").dataTable({
      "order": [[7, "asc"]],
      "fnInitComplete": function() {
        $(".datatable").removeClass('dn');
      }
    });
  });
</script>
{% endblock %}
