{% extends "layout.html" %}

{% block content %}

<div class="container">
    <h1>
      <strong>
        Results
      </strong>
    </h1>
    <h1 class="symbol-title">
      <a href="http://amp.pharm.mssm.edu/Harmonizome/gene/{{symbol}}" target="_blank">
        {{ symbol }}
      </a>: {{ expression }}
    </h1>
    <ul class="nav nav-tabs">
      <li class="nav active" role="presentation">
        <a href="#L1000" aria-controls="l1000" role="tab" data-toggle="tab">L1000</a>
      </li>
      <li class="nav" role="presentation">
        <a href="#CREEDS" aria-controls="creeds" role="tab" data-toggle="tab">CREEDS</a>
      </li>
      <li class="nav" role="presentation">
        <a href="#CMAP" aria-controls="cmap" role="tab" data-toggle="tab">CMAP</a>
      </li>
    </ul>

    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="L1000">
        <table id="L1000-table" class="table datatable dn">
          <thead>
            <tr>
              <th>Drug Name</th>
              <th>LINCS sig_id</th>
              <th>Cell Line</th>
              <th>LINCS pert_id</th>
              <th>Time</th>
              <th>Dose</th>
              <th>p&nbsp;&#x2011;&nbsp;value</th>
              <th>q&nbsp;&#x2011;&nbsp;value</th>
              <th>Fold Change</th>
              <th>Specificity</th>
            </tr>
          </thead>

          <tbody>
          {% for row in lincs_rows %}
                <tr>
                  <td>
                    <a href="http://amp.pharm.mssm.edu/dmoa/report/{{ row[2] }}" target="_blank">
                      {{ row[0] }}
                    </a>
                  </td>
                  <td>{{ row[1] }}</td>
                  <td>
                    <script>
                      var getCellLineFromSigId = function(sig_id) {
                        return sig_id.split("_")[1];
                      }
                      var sig_id = "{{ row[1]|safe }}";
                      var cellLine = getCellLineFromSigId(sig_id);
                      document.write("<span>" + cellLine + "</span>");
                    </script>
                  </td>
                  <td>
                    <a href="http://amp.pharm.mssm.edu/dmoa/report/{{ row[2] }}" target="_blank">
                      {{ row[2] }}
                    </a>
                  </td>
                  <td>{{ row[3] }} {{ row[4] }}</td>
                  <td>{{ row[5] }} µM</td>
                  <td class="p-val">
                    <script>
                      document.write(Number({{ row[6] }}).toExponential(2));
                    </script>
                    {% if expression is equalto 'Up-Regulate'%}
                      <span class="p-val-dot green-dot" val="{{ row[6] }}"></span>
                    {% else %}
                      <span class="p-val-dot red-dot" val="{{ row[6] }}"></span>
                    {% endif %}
                  </td>
                  <td class="q-val">
                    <script>
                      document.write(Number({{ row[7] }}).toExponential(2));
                    </script>
                  </td>
                  <td class="fold-change">
                    <script>
                      document.write(Number({{ row[8] }}).toFixed(3));
                    </script>
                  </td>
                  <td class="specificity">
                    <script>
                      document.write(Number({{ row[9] }}).toExponential(2));
                    </script>
                  </td>
              </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>

      <div role="tabpanel" class="tab-pane" id="CREEDS">
        <table id="CREEDS-table" class="table datatable dn">
          <thead>
            <tr>
              <th>Drug Name</th>
              <th>CREEDS ID</th>
              <th>GEO ID</th>
              <th>Drugbank ID</th>
              <th>PubChem ID</th>
              <th>p&nbsp;&#x2011;&nbsp;value</th>
              <th>q&nbsp;&#x2011;&nbsp;value</th>
              <th>Fold Change</th>
              <th>Specificity</th>
            </tr>
          </thead>

          <tbody>
          {% for row in creeds_rows %}
                <td>{{ row[0] }}</td>
                <td><a href="http://amp.pharm.mssm.edu/CREEDS/api?id={{row[1]}}">{{ row[1] }}</a></td>

                {% if row[6] != None %}
                    <td><a href="{{ row[6] }}">{{ row[1] }}</a></td>
                {% else %}
                    <td>N/A</td>
                {% endif %}

                {% if row[9] != None %}
                    <td><a href="{{ row[9] }}">{{ row[3] }}</a></td>
                {% else %}
                    <td>N/A</td>
                {% endif %}

                {% if row[10] != None %}
                    <td><a href="{{ row[10] }}">{{ row[4] }}</a></td>
                {% else %}
                    <td>N/A</td>
                {% endif %}

                <td class="p-val">
                  <script>
                    document.write(Number({{ row[5] }}).toExponential(2));
                  </script>
                  {% if expression is equalto 'Up-Regulate'%}
                    <span class="p-val-dot green-dot" val="{{ row[5] }}"></span>
                  {% else %}
                    <span class="p-val-dot red-dot" val="{{ row[5] }}"></span>
                  {% endif %}
                </td>
                <td class="q-val">
                  <script>
                    document.write(Number({{ row[6] }}).toExponential(2));
                  </script>
                </td>
                <td class="fold-change">
                  <script>
                    document.write(Number({{ row[7] }}).toFixed(3));
                  </script>
                </td>
                <td class="specificity">
                  <script>
                    document.write(Number({{ row[8] }}).toExponential(2));
                  </script>
                </td>
              </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>

      <div role="tabpanel" class="tab-pane" id="CMAP">
        <table id="CMAP-table" class="table datatable dn">
          <thead>
            <tr>
              <th>Drug Name</th>
              <th>Cell Line</th>
              <th>Time</th>
              <th>Dose</th>
              <th>p&nbsp;&#x2011;&nbsp;value</th>
              <th>q&nbsp;&#x2011;&nbsp;value</th>
              <th>Fold Change</th>
              <th>Specificity</th>
            </tr>
          </thead>

          <tbody>
          {% for row in cmap_rows %}
              <tr>
                <td>{{ row[0] }}</td>
                <td>{{ row[1] }}</td>
                <td>{{ row[2] }} {{ row[3] }}</td>
                <td>{{ row[4] }} µM</td>
                <td class="p-val">
                  <script>
                    document.write(Number({{ row[5] }}).toExponential(2));
                  </script>
                  {% if expression is equalto 'Up-Regulate'%}
                    <span class="p-val-dot green-dot" val="{{ row[5] }}"></span>
                  {% else %}
                    <span class="p-val-dot red-dot" val="{{ row[5] }}"></span>
                  {% endif %}
                </td>
                <td class="q-val">
                  <script>
                    document.write(Number({{ row[6] }}).toExponential(2));
                  </script>
                </td>
                <td class="fold-change">
                  <script>
                    document.write(Number({{ row[7] }}).toFixed(3));
                  </script>
                </td>
                <td class="specificity">
                  <script>
                    document.write(Number({{ row[8] }}).toExponential(2));
                  </script>
                </td>
            </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>

    </div>
    <br>
</div>

<script>
  function calculateOpacity(min, max, input) {
    // This function does the negative log of p-val,
    // linearly scales it to a value between 0 and 1, thereby generating opacity
    var negLogMin = Math.log(1/min);
    var negLogMax = Math.log(1/max);
    var ranger = d3.scaleLinear().domain([negLogMin, negLogMax]).range([0, 1]);
    return ranger(input);
  }

  $(document).ready(function() {
    setTimeout(function() {
      $(".p-val-dot").each(function(idx) {
        var min = {{min_max_p_val[0]}} + 0;
        var max = {{min_max_p_val[1]}} + 0;
        var opacity = calculateOpacity(min, max, Number($(this).attr('val')));
        $(this).attr('style', `opacity:${opacity}`)
      });

      $("#L1000-table").dataTable({
        "order": [[7, "asc"]], // sort by q-value by default
        "fnInitComplete": function() {
          $("#L1000-table").removeClass('dn');
        }
      });

      $("#CREEDS-table").dataTable({
        "order": [[6, "asc"]],
        "fnInitComplete": function() {
          $("#CREEDS-table").removeClass('dn');
        }
      });

      $("#CMAP-table").dataTable({
        "order": [[5, "asc"]], // sort by q-value by default
        "fnInitComplete": function() {
          $("#CMAP-table").removeClass('dn');
        }
      });
    }, 0);
  });
</script>
{% endblock %}
