{% extends "layout.html" %}
{% block content %}
<div class="container">
  <h1>
    <strong>
      Statistics
    </strong>
  </h1>

  <div class="stat-info-container">
    <p>
      Below are distributions of the number of associations per drug for the L1000 and CREEDS datasets.  The number of
      drug-gene associations refers to the number of genes that were significantly affected by the drug perturbation.
    </p>
    <div class="text-center">
      <img class="stat-image" src="http://amp.pharm.mssm.edu/DGB/static/image/lincs.png" alt="Distribution of drug-associations in L1000 dataset">
      <img class="stat-image" src="http://amp.pharm.mssm.edu/DGB/static/image/geo.png" alt="Distribution of drug-associations in GEO dataset">
    </div>
  </div>
</div>
{% endblock %}
