{% extends "layout.html" %}
{% block content %}
<div class="container">
    <header>Statistics</header>
    <p>
        Below are distributions of the number of Associations per Drug for the L1000 and CREEDS datasets.  The number of
        drug-gene associations refers to the number of genes that were significantly affected by the drug perturbation.
    </p>
    <img src=" http://amp.pharm.mssm.edu/DGB/static/image/lincs.png" alt="Distribution of drug-associations in L1000 dataset" style="width:512px;height:352px;">
    <img src=" http://amp.pharm.mssm.edu/DGB/static/image/geo.png" alt="Distribution of drug-associations in GEO dataset" style="width:512px;height:352px;float:right;">
</div>
{% endblock %}
